@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F2F2F2;
    
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transition: 0.3s ease;
}
.content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    position: relative; /* Ensure relative positioning for absolute positioning of logo */
}

.topbar.scrolled .logo,
.topbar.scrolled nav li a,
.topbar.scrolled .contactButton {
    color: white;
    
}

.topbar.scrolled .contactButton {
    border-color: white;
}

.topbar.scrolled .topbar{
    color:#0e0e0e;
}
.topbar.scrolled .logo {
    color: white; /* Change text color to white */
    filter: invert(1); /* Invert the colors of the logo image */
}

.logo {
    height: 25px;
    float: left;
    padding-left: 10px;
    
    
}
nav {
    height: 50px;
}
.topbar img{
    height: 30px;
    transition: 0.3s ease;

}
nav ul {
    padding-top: 13px;
    display: flex;
    align-items: center;
    
}
nav li {
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    transition: 0.3s ease;
    
}
nav li a {
    color: #0a0a0a;
    text-decoration: none;
    list-style: none;
    padding: 3px 10px;
    border-radius: 3%;
}
nav li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;

}

.contactButton{
    color: black;
    border: 1px black solid;
    border-radius: 50px;
    margin-left: 20px;
    transition:ease 0.3s;
    padding: 7px 10px;
    
}

.contactButton:hover{
    background-color: black;
    color: white;
    transition:ease 0.3s;
    text-decoration: none;
}

.description {
    background-color: #0e0e0e;
    height: 100vh;
    width: 30%;
    color: white;
    z-index: -1;
    
}

.main{
    display: flex;
    justify-content: flex-start;
    
}

.description h1{
    padding-top: 40%;
    text-align: center;
    font-size: 35px;
}

.description p{
    max-width: 50%;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    
}

.game{
    background-color: #F2F2F2;
    width: 1050px;
    height: 600px;
    
    
    
    margin-top: 160px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.image-slider {
    height: 450px;
    border-radius: 20px;
    background-image: url(Bilder/img3.png); /* Change this to your image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 70px;
    position: relative;
    
}

.arrow-left,
.arrow-right {
    background: #000;
    position: absolute;
    top: 50%; /* Adjusted */
    transform: translateY(-50%); /* Center vertically */
    width: 3em;
    height: 3em;
    border-radius: 50%;
    align-items: center;
    display: flex; /* Added */
    justify-content: center; /* Center horizontally */
    cursor: pointer;
    transition: 0.3s;
    color: white;
   
}

.arrow-left:hover,
.arrow-right:hover{
    background-color: #fff;
    color: black;
}

.arrow-left {
    left: 6em;
    z-index: 0;
}

.arrow-right {
    right: 6em;
    z-index: 0;
}

.image-fade{
    animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade{
    0% {opacity: 0;}
    100%{opacity: 1;}
}
